params {
    fastqs = '*_R{1,2}*.fastq'
    outdir = "./results"

    // covviz report
    sexchroms = 'X,Y'
    exclude = "~^HLA,~^hs,~:,~^GL,~M,~EBV,~^NC,~^phix,~decoy,~random\$,~Un,~hap,~_alt\$"
    // the point at which we determine a sample is an outlier from the group at any given point
    zthreshold = 3.5
    // when calculating significance, the Z-score has to be above the threshold for consecutive points up to the total distance set by distance threshold
    distancethreshold = 150000
    // slop is the distance to add to traces when plotting -- without slop, it's not always clear what happens to the points immediately flanking the area of significant deviation
    slop = 500000
    // show all traces when analyzing this few samples; ignores z-threshold, distance-threshold, and slop
    minsamples = 8
}

process {
    shell = ["/bin/bash", "-euo", "pipefail"]
    time = { 48.h * task.attempt }
    cpus = 16
    memory = 120.GB
    cache = "lenient"
    errorStrategy = { task.attempt < 3 ? 'retry' : 'finish' }
    withName: fastp {
        // decompression threads
        cpus = 3
        memory = 16.GB
        container = "brwnj/preon:v0.0.5"
    }
    withName: bwamem {
        container = "brwnj/bwa-nf:v0.0.0"

    }
    withName: markduplicates {
        container = "broadinstitute/gatk:4.1.7.0"
    }
    withName: alignstats {
        cpus = 3
        memory = 16.GB
        container = "brwnj/preon:v0.0.5"
    }
    withName: indexcov {
        container = "brwnj/covviz:v1.2.2"
        memory = { 8.GB * task.attempt }
        cache = 'deep'
    }
    withName: covviz {
        container = "brwnj/covviz:v1.2.2"
        memory = { 8.GB * task.attempt }
    }
}

timeline {
    enabled = true
    file = "${params.outdir}/logs/timeline.html"
}
report {
    enabled = true
    file = "${params.outdir}/logs/report.html"
}
trace {
    enabled = true
    file = "${params.outdir}/logs/trace.txt"
}

manifest {
    name = "brwnj/upward"
    author = "Joe Brown"
    description = "opinionated fastq to bam with QC"
    version = "0.0.0"
    nextflowVersion = ">=0.32.0"
    homePage = "https://github.com/brwnj/upward"
    mainScript = "main.nf"
}
