params {
    fastqs = '*_R{1,2}*.fastq'
    outdir = "./results"
}

process {
    shell = ['/bin/bash', '-euo', 'pipefail']
    time = { 48.h * task.attempt }
    cpus = 16
    memory = 120.GB
    cache = 'lenient'
    errorStrategy = { task.attempt < 3 ? 'retry' : 'finish' }
    withName: fastp {
        // decompression threads
        cpus = 3
        memory = 16.GB
        container = "brwnj/preon:v0.0.5"
    }
    withName: bwamem {
        container = "brwnj/bwa-nf:v0.0.0"

    }
    withName: markduplicates {
        container = 'broadinstitute/gatk:4.1.7.0'
    }
    withName: alignstats {
        cpus = 3
        memory = 16.GB
        container = "brwnj/preon:v0.0.5"
    }
}

timeline {
    enabled = true
    file = "${params.outdir}/logs/timeline.html"
}
report {
    enabled = true
    file = "${params.outdir}/logs/report.html"
}
trace {
    enabled = true
    file = "${params.outdir}/logs/trace.txt"
}

manifest {
    name = 'brwnj/upward'
    author = 'Joe Brown'
    description = "opinionated fastq to bam with QC"
    version = '0.0.0'
    nextflowVersion = '>=0.32.0'
    homePage = 'https://github.com/brwnj/upward'
    mainScript = 'main.nf'
}
